#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 250px; /* Add margin equal to the sidebar width */
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;     /* Center the content vertically */
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

